<div class="container mt-5" style="width: 400px;">
  <div class="page-title text-center">
    <h1>URL shortener </h1>
  </div>
  
  <div class="image">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      class="rounded mx-auto d-block" style="width: 10rem;">
  </div>
  

  <div class="row mt-2 justify-content-center">
    <h3 class="mt-2">Success! PLease use this link:</h3>
      {{!-- !!這段有問題，新增的會沒法出現 --}}
    <p class="text-center ">{{shortenUrl}}</p>
    <div class="row justify-content-center">
      <button type="submit" style="width: 100px;" class="btn btn-success" id="copy-button">Copy</button>
      <a href="/" class="btn btn-primary ms-2" style="width: 100px;">back</a>
    </div>
  </div>
</div>


