<div class="container mt-2" style="width: 400px;">
  <div class="row mt-2 justify-content-center">
    <h3 class="mb-1">Success! PLease use this link:</h3>
    <input class="text-center mt-2" id="shorten-url" value="{{shortenUrl}}" disabled>
    <div class="row justify-content-center" id="btn-group">
      <button type="submit" style="width: 100px;" class="btn btn-success mt-4" id="copy-button" onclick="copyText()">
        Copy to clipboard</button>
      <a href="/" class="btn btn-primary ms-3 mt-4 pt-3" style="width: 100px;">Back</a>
    </div>
  </div>
</div>